.env
.idea
.well-known
.npmrc
.styleci.yml

node_modules
public/hot
public/storage
storage/*.key
vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

!docker/volumes/mysql
docker/volumes/mysql/*
!docker/volumes/mysql/.gitkeep