src/.env
src/.idea
src/.well-known
src/.npmrc
src/.styleci.yml

src/node_modules
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
src/.phpunit.result.cache
src/Homestead.json
src/Homestead.yaml
src/npm-debug.log
src/yarn-error.log

!docker/volumes/mysql
docker/volumes/mysql/*
!docker/volumes/mysql/.gitkeep